@model Assignment2.Models.Course

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Course</h1>
<h4>@(Model.name)</h4>
<hr />

<div class="row">
    <div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="name" class="control-label">Course Title</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Description</label>
                <textarea asp-for="description" class="form-control" ></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department" class="control-label">Department</label>
                <input asp-for="department" class="form-control" />
                <span asp-validation-for="department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="number" class="control-label">Course Number</label>
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="semeseter" class="control-label">Semester</label>
                <input asp-for="semeseter" class="form-control" />
                <span asp-validation-for="semeseter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label">Year</label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="professor" class="control-label">Professor</label>
                <input asp-for="professor" class="form-control" />
                <span asp-validation-for="professor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="professorEmail" class="control-label">Professor's Email</label>
                <input asp-for="professorEmail" class="form-control" />
                <span asp-validation-for="professorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@(Model.CourseId)">Cancel</a>
                <a class="btn btn-danger" style="float:right;" asp-action="Delete" asp-route-id="@(Model.CourseId)">Delete</a>
            </div>
        </form>
    </div>
</div>

