//variables
$font-h: 'Montserrat', sans-serif;
$font-p: 'Open Sans', sans-serif;
$yellow: #f3e850;
$brown: #6B5A37;
$dark-gray: #232323;
$arsenic: #3F4045;
$body-bg: #f3f3f3;
$gray: lighten(gray, 20%);
$blue: rgb(41, 158, 255);
$red: rgb(255, 73, 91);
$yellow-alt: rgb(255, 205, 56);
$green: rgb(60, 214, 96);
$cyan: rgb(57, 202, 224);
